*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body {
    background-image: url("../images/currency.jpg");
    background-repeat:  no-repeat;
    background-attachment: scroll;
    background-size: cover;
    max-height: fit-content;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 450px;
}
h1 {
    color: #364547;
    text-align: center;
    margin-bottom: .05em;
}
.container .box {
    width: 100%;
    display: flex;
}
.box div {
    width: 100%;
}
select {
    width: 95%;
    height: 40px;
    font-size: 1em;
    outline: none;
    background: #091fe9;
    color: white;
    margin: 0.2em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
}
input {
width: 95%;
height: 40px;
font-size: 1em;
margin: 00.2em 0;
border-radius: 10px;
border: none;
background: #dfdfe2;
outline: none;
padding: 0 1em;
}
.btn {
width: 98%;
height: 40px;
background: rgb(31, 53, 53);
color: white;
border-radius: 10px;
border: none;
cursor: pointer;
font-size: 1em;
margin: 00.5em 0;
}
#reset-btn{
    width: 98%;
    height: 40px;
    background: #41070f;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin: 00.5em 0;
    }